@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  position: relative;
}

.text-navy {
  color: #0F172A;
}
